<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Skeez</title>
   
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{url_for('static' , filename = 'css/responsive.css')}}">      
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
   </head>
   <body>
      
      <!--header section start -->
      
      <nav>
         <div class="logo">
            <a href="/index"><img src="static/images/logo.png"></a>
         </div>
         <ul>
            <li><a href="#facts">FACTS</a></li>
            <li><a href="#research">RESEARCH</a></li>
            <li><a href="#about">CHECK</a></li>
         </ul>
      </nav>
      <!-- banner section start -->
      <div class="header_section">
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h1 class="banner_title">Easily Accessible</h1>                              
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src="static/images/banner.jpg"></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h1 class="banner_title">User Friendly</h1>                              
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src="static/images/skina.jpeg"></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <h1 class="banner_title">Know Your Condition At Early Stages</h1>                              
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src="static/images/skin-disease.jpg"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>            
      </div>
   </div>
      <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- facts section start -->
      <div class="fact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="fact_title" id="facts">FACTS</h1>
                  <p class="fact_text">Skin Problems: These are caused by disorders or diseases that affect the skin, the body’s largest organ, and may result in a range of symptoms including inflammation, itching, burning, rashes, acne, and changes in pigmentation, among others</p>
               </div>
            </div>
            <div class="fact_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <h1 class="hands_text"><a href="#">A skin condition can put you at greater risk of other diseases</a></h1>
                     <h1 class="hands_text"><a href="#">Eating colourful vegetables increases the skin’s perceived attractiveness</a></h1>
                     <h1 class="hands_text"><a href="#">Your body's fluid balance depends on skin</a></h1>
                     <h1 class="hands_text"><a href="#">Caf­feine, nico­tine and alco­hol con­strict blood ves­sels and pre­vent nutri­ents from feed­ing the skin, there­fore speed­ing up the aging process.</a></h1>
                  </div>
                  <div class="col-md-6">
                     <div class="image_2"><img src="static/images/skin_fact.png"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- fact section end -->
      <!-- about section start -->
      <div class="about_section layout_padding" id="about">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_img"><img src="static/images/check.png" width="500" height="500"></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_title">How our website works?</span></h1>
                  <p class="about_text">Scan/Upload image of skin disease provides match to closet condition with best possible remedy to cure the disease</p>
                  <div class="read_bt"><a href="/check">Click here to try</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
     
      <!-- research section start -->
      <div class="research_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <h1 class="research_title" id="research">Research</h1>
                     
                     <div class="research_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src="static/images/graph1.png"></div>
                           <h2 class="design_text">Prevalence of skin disease in a population‐based sample of adults from five European countries</h2>
                           <p class="lorem_text">The point prevalence for the investigated skin diseases is given for three age groups.Although the point prevalence for AD and acne decreases with age, an increase can be seen in psoriasis, warts and skin cancer.Also, leg ulcers were seen only in the older age groups. Vitiligo, urticaria and other eczema showed no association with age, while the prevalence of contact dermatitis had a peak in the group of subjects aged 35–50 years.</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                    <h1 class="research_title">Research</h1>
                     
                     <div class="research_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src="static/images/graph2.png"></div>
                           <h2 class="design_text">Skin problems among Indians during 2020, by type</h2>
                           <p class="lorem_text">As per the results of a large scale survey conducted across India in 2020, about 23 percent of the respondents suffered from dandruff. Dandruff and acne seemed to be the major skin problems faced by people in the country.</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                    <h1 class="research_title">Research</h1>
                     
                     <div class="research_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src="static/images/graph3.jpg"></div>
                           <h2 class="design_text">Disability-adjusted life year (DALY) rate per 100,000 individuals in 2010 (all skin conditions combined)</h2>
                           <p class="lorem_text">The DALY rate per 100,000 individuals in 2010 for all skin conditions combined. Supplementary Figure S1 online presents the annualized percent change in DALY rates over the 20-year period from 1990 to 2010.</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>      
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
            </div>
         </div>
      </div>
      <!-- research section end -->


     


       <!-- copyright section start -->
       <div class="copyright_section">
         

          <div class="footer_section layout_padding">
         <div class="container">
            <!-- <div class="row"> -->
               <div class="col-sm-12">
                  
                  <p class="copyright_text">© 2022 All Rights Reserved</p></div>
               </div>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
   
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>  
   </body>
</html>