<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/responsice.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <title>Results Page</title>
    </head>
    <body>
        <nav>
            <div class="logo">
               <a href="/"><img src="static/images/logo.png" style="width: 78px;height: 78x;"></a>
            </div>
            <ul>
               <li><a href="facts/index.html">FACTS</a></li>
               <li><a href="#research">RESEARCH</a></li>
               <li><a href="#about">CHECK</a></li>
            </ul>
        </nav> <br>
        <main class="my" id="my" >
            <div class="container" id="cont">
              <!--Section: Content-->
              <section class="text-center"> <br>
                <h4 class="mb" style="color:#9a7e6a" id="res" style="color:#9a7e6a; font-size: larger;font-weight: bold;"><strong>Results</strong></h4>
                <div class="mb">
                <div class="card">
                    <br>
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src={{url_for('static', filename = 'uploads/'+ img)}} class="img-fluid" id="imgdis" height="500" width="500"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                    </div>
                    <div class="card-body">
                    <p class="card-text" id="card" style="color:#9a7e6a; font-size: larger;font-weight: bold;">
                        {{ class_result }}
                    </p>
                    <a href="/check" class="btn btn-primary"  id="goa" style="background-color: #9a7e6a; color: whitesmoke;">Go Again</a>
                    
                    <button onclick="re()" class="btn btn-primary" id="reo" style="background-color: #9a7e6a; color: whitesmoke;">Remedies</button>
                   <br>
            <div class="remedies-content" id="remedies-content">
                <div class="dos" id="dos">
                    <h3 id="do"></h3>
                    <li id="doo"> 
                        <li id="do1"></li>
                        <li id="do2"></li>
                        <li id="do3"></li>
                    </li>
                </div> <br>
                <div class="donts" id="donts">
                    <h3 id="don"></h3>
                    <li id="doon"> 
                        <li id="don1"></li>
                        <li id="don2"></li>
                        <li id="don3"></li>
                    </li>
                </div> <br>
                <div class="products" id="products">
                    <h3 id="p"></h3>
                    <li id="po">
                        <li id="po1"><a class="first" target="_blank" id="p1"></a></li>
                        <li id="po2"><a class="second" target="_blank" id="p2"></a></li>
                        <li id="po3"><a class="third" target="_blank" id="p3"></a></li>
                    </li>
                </div>
            </div>
                </div> 
                </div>

                </section>
            </div>
        </main>
        
        <script>
            function re(){
                document.getElementById("imgdis").style.height="200px";
                document.getElementById("cont").style.backgroundColor="#9a7e6a";
                document.getElementById("dos").style.backgroundColor="#9a7e6a";
                document.getElementById("donts").style.backgroundColor="#9a7e6a";
                document.getElementById("products").style.backgroundColor="#9a7e6a";
                document.getElementById("dos").style.width="1300px";
                document.getElementById("donts").style.width="1300px";
                document.getElementById("products").style.width="1300px";
                document.getElementById("dos").style.marginLeft="-520px";
                document.getElementById("donts").style.marginLeft="-520px";
                document.getElementById("products").style.marginLeft="-520px";
                document.getElementById("imgdis").style.width="200px";
                document.getElementById("res").innerHTML="MEDICAL REMEDIES";
                document.getElementById("do").innerHTML="DO'S";
                document.getElementById("don").innerHTML="DON'TS";
                document.getElementById("p").innerHTML="TREATMENT";
                document.getElementById("do").style.color="#fff4ed";
                document.getElementById("don").style.color="#fff4ed";
                document.getElementById("p").style.color="#fff4ed";
                document.getElementById("res").style.color="#fff4ed";
                document.getElementById("remedies-content").style.paddingBottom="500px";
                document.getElementById("remedies-content").style.marginLeft="500px";
                document.getElementById("remedies-content").style.marginTop="10px";
                document.getElementById("card").style.fontSize="30px";
                document.getElementById("res").style.fontSize="40px";
                const go = document.getElementById("goa")
                const re = document.getElementById("reo")
                go.remove();
                re.remove();
                let cl = JSON.parse(' {{ class_result | tojson }}')
                if (cl == "Eczema Photos"){
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO avoid triggers of the rash, including stress.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO moisturize your skin daily, even when you have no symptoms. Use an odor-free oil-based cream or ointment (not lotion), best applied just after bathing while skin is still damp. Use hypoallergenic products when possible. ";
                    document.getElementById("do3").innerHTML="<strong>.</strong> DO take all pills prescribed by your health care provider. Don't stop taking the medicines unless your health care provider approves.";
                    document.getElementById("don1").innerHTML="<strong>.</strong> DON'T let your skin or home become too dry. A home humidifier may help.";
                    document.getElementById("don2").innerHTML="<strong>.</strong> DON'T drive, cook, or operate machinery while using antihistamines if they make you sleepy.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T forget your daily skin regimen even if you feel well. Plan ahead for trips by saving some of your usual products.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> skin smoothing cream moisturiser";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Atorep Barrier Cream for Dry, Sensitive & Atopic Skin";
                    document.getElementById("p3").innerHTML="<strong>.</strong> CeraVe Healing Ointment";
                    document.getElementById("p1").href="https://dermalogica.in/products/skin-smoothing-cream-face-moisturiser?variant=39602574524493&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAw0voCD7gmCEGdZxvYhy7bcZygsLRjMpdn9leBGaxwXOKIUuoCydmIaAmU4EALw_wcB";
                    document.getElementById("p2").href="https://www.reequil.com/products/atorep-barrier-cream-for-atopic-skin?variant=39260018704570&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&utm_source=google-ads&utm_medium=prospecting&utm_campaign=performance-max&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAy4jkrchZo6azQSYYT10C9d8KcGNE2s2B2plS4VQs9Ee7Q1R0YmfvIaAlSREALw_wcB";
                    document.getElementById("p3").href="https://www.target.com/p/cerave-healing-ointment-3oz/-/A-79368529?clkid=fbee3cdeN6a7711edaa00db821e97393b&lnm=81938&afid=New%20York%20Media&ref=tgt_adv_xasd0002";
                } else if(cl == "Acne") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else if(cl == "Actnic Cheilitis"){
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO take breaks from the sun when possible.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO use lip balm with an SPF of at least 15. Put it on before you go into the sun, and reapply it often.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO wear a hat with a wide brim that shades your face.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T lick your lips to often. Try keeping it mild dry and wet.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be outside in midday, when the sun is strongest.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T bite pores of lips to worsen it.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Blistex, Medicated Lip Ointment";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Sebamed Lip Defense Triple Protection SPF 30";
                    document.getElementById("p3").innerHTML="<strong>.</strong> LIP BUTTER - SHEA/OLIVE";
                    document.getElementById("p1").href="https://in.iherb.com/pr/blistex-medicated-lip-ointment-21-oz-6-g/44053?gclid=CjwKCAiApvebBhAvEiwAe7mHSMddqd9UO2XMe2BikCuzkY-4XvBoZa_iYa6OEwiePMiNM1USyjOmLRoCRf8QAvD_BwE&gclsrc=aw.ds";
                    document.getElementById("p2").href="https://www.clinikally.com/products/sebamed-lip-defense-spf30?variant=42852339450103&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&utm_campaign=gs-2021-06-16&utm_source=google&utm_medium=smart_campaign&gclid=CjwKCAiApvebBhAvEiwAe7mHSC5Y0NwM-_U9InCdwcCHtsPO8JbuTz3xWlCnTka5JlW3ZaaOvf7R2RoCk94QAvD_BwE";
                    document.getElementById("p3").href="https://earthrhythm.com/products/lip-butter-1?currency=INR&utm_medium=cpc&utm_source=google&utm_campaign=Google%20Shopping/?utm_source=google&utm_medium=cpc&utm_campaign=&gclid=CjwKCAiApvebBhAvEiwAe7mHSHL13waS4vN-T1VHE5-3TCr7c9FDOOCMDavkV0n0Ak89amBBbt10ThoCaIgQAvD_BwE";
                
                } else  if(cl == "Basal Cell Carcinoma"){
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO have a skin examination yearly, or more often if your health care provider recommends it.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO call your health care provider if you have a new mole or abnormal skin area, an area that doesn't heal or that bleeds often, a raised skin mole with a central depressed area, a mole that changes shape or color or that has irregular or unclear borders, or a mole that is asymmetric.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO wear sunscreen with a sun protection factor (SPF) of 15 or higher, protective clothing, and hats.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T go in the sun when it's hottest, especially from 11 am to 3 pm during summer days.";
                    document.getElementById("don2").innerHTML="<strong>.</strong> DON'T delay seeing your health care provider if you have any warning signs of skin cancer."; 
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T keep yourself exposed to uv sunlight";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Fluorouracil topical (Under Prescription).";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Odomzo (Under Prescription).";
                    document.getElementById("p3").innerHTML="<strong>.</strong> Vismodegib (Under Prescription).";
                    document.getElementById("p1").href="https://www.drugs.com/mtm/fluorouracil-topical.html";
                    document.getElementById("p3").href="https://www.drugs.com/mtm/vismodegib.html";
                    document.getElementById("p2").href="https://www.drugs.com/odomzo.html";
    
                } else if(cl == "Hair Disease"){
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO Make sure your diet contains an adequate amount of nutrients especially iron and protein.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO A lukewarm oil massage using oils like coconut, almond, and castor will boost scalp circulation and tightening of hair follicles.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO A mild shampoo is enough to cleanse the scalp and get rid of natural sebum secretion and environmental pollution.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T use products with a high sulphur content and artificial scents Organic shampoos.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T use heating products on wet hair. Doing this can really damage your hair.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T perform excess blow drying, heated combs, hair straightener, colouring products, bleaching agents, perms, and relaxers can dry out the hair strands to the core.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Traya Complete Hair Growth Kit";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Biotin Hair Gummies";
                    document.getElementById("p3").innerHTML="<strong>.</strong> Chemical-free hair and scalp cleanser shampoo";
                    document.getElementById("p1").href="https://traya.health/products/complete-hair-growth-kit?kw=&campaignid=17173158462&adgroupid=&adid=&gclid=CjwKCAiApvebBhAvEiwAe7mHSMjtUeDjtmKDsPIXsEocQcZIPhsSARpna0EGzLWFWXqUbjNua4onKhoCONoQAvD_BwE";
                    document.getElementById("p2").href="https://manmatters.com/dp/p-biotin-hair-gummies-30-n/1605?utm_source=google&utm_medium=PLA&utm_campaign=Shopping_Manual_MM_HairGummies30_product_hair_gummies_30&gclid=CjwKCAiApvebBhAvEiwAe7mHSDk2-7K56_qWddKkRdqD3h6g0g69WnhV96zNnHahpKJpuJHagDb5kRoCCyEQAvD_BwE";
                    document.getElementById("p3").href="https://traya.health/products/shampoo?variant=37546042785970&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&kw=&campaignid=17173158462&adgroupid=&adid=&gclid=CjwKCAiApvebBhAvEiwAe7mHSNmDtdUPyu7TvwkGQ-Pg3eojXkMNR2y2m7q1fxKLXiwL4qt3p6lVAhoCsLIQAvD_BwE";

                } else  if(cl == "Nail Fungal") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO wash hands and feet regularly and dry them thoroughly.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO wear rubber gloves when dealing with food, water, dirt, oil and chemicals, etc.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO treat a nail fungus infection as early as possible to avoid more serious problems or permanent damage to the nails.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T walk barefoot in public areas.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T nail apply polish or artificial nails at first sight of a possible nail fungal infection.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T choose salons that share tools and only use sterilized tools for manicures or pedicures.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Bella Voste Nail Care Antiseptic Drops";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Neem Oil Cold Pressed Anti Fungal";
                    document.getElementById("p3").innerHTML="<strong>.</strong> Fungus Fighter Compound";
                    document.getElementById("p1").href="https://www.netmeds.com/non-prescriptions/bella-voste-nail-care-antiseptic-drops-10-ml?source_attribution=ADW-CPC-Pmax_beauty_purchase&utm_source=ADW-CPC-Pmax_beauty_purchase&utm_medium=CPC&utm_campaign=ADW-CPC-Pmax_beauty_purchase&gclid=CjwKCAiApvebBhAvEiwAe7mHSL81yfxSNT80u4GXcxwL7puPf_J4AO63UZPdwnPbrZh58d3ZNX1WTxoCm7IQAvD_BwE";
                    document.getElementById("p2").href="https://amala.earth/products/atulya-neem-coldpress-oil-200-ml-at-0018-19722?utm_source=Google_ads&utm_medium=&utm_campaign=18739464851--142928717956&utm_content=631455068525&utm_term=--&utm_id=18739464851--142928717956--631455068525--c--g------&gclid=CjwKCAiApvebBhAvEiwAe7mHSHdnmXiU8DM9gk6DB9rwCRIRTN1FtvY7sZ1BLFG0Eo8zxYYQ_iUmchoCdmAQAvD_BwE";
                    document.getElementById("p3").href="https://www.luckyvitamin.com/p-419730-herb-pharm-fungus-fighter-compound-4-oz";
                
                } else if(cl == "Psoriasis Hair") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO investigate symptoms. Even though half of psoriasis";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO use shampoos that contain tar or salicylic acid. Tar has proven effective as a treatment for psoriasis for decades";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO use natural products. The best natural products for your hair and scalp are usually the ingredients you can also ingest.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T use harmful chemicals. While you may not necessarily be using relaxers or perms, you might still be using chemicals that are too harsh on your scalp.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T use hot water. Like the rest of your body, the scalp can be negatively affected by hot water.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T be afraid to speak up about symptoms and treatment options";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Traya Complete Hair Growth Kit";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Biotin Hair Gummies";
                    document.getElementById("p3").innerHTML="<strong>.</strong> Chemical-free hair and scalp cleanser shampoo";
                    document.getElementById("p1").href="https://traya.health/products/complete-hair-growth-kit?kw=&campaignid=17173158462&adgroupid=&adid=&gclid=CjwKCAiApvebBhAvEiwAe7mHSMjtUeDjtmKDsPIXsEocQcZIPhsSARpna0EGzLWFWXqUbjNua4onKhoCONoQAvD_BwE";
                    document.getElementById("p2").href="https://manmatters.com/dp/p-biotin-hair-gummies-30-n/1605?utm_source=google&utm_medium=PLA&utm_campaign=Shopping_Manual_MM_HairGummies30_product_hair_gummies_30&gclid=CjwKCAiApvebBhAvEiwAe7mHSDk2-7K56_qWddKkRdqD3h6g0g69WnhV96zNnHahpKJpuJHagDb5kRoCCyEQAvD_BwE";
                    document.getElementById("p3").href="https://traya.health/products/shampoo?variant=37546042785970&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&kw=&campaignid=17173158462&adgroupid=&adid=&gclid=CjwKCAiApvebBhAvEiwAe7mHSNmDtdUPyu7TvwkGQ-Pg3eojXkMNR2y2m7q1fxKLXiwL4qt3p6lVAhoCsLIQAvD_BwE";

                } else if(cl == "Warts Molluscum") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO wash your hands. There are ways to prevent the spread of molluscum.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO keep molluscum lesions covered, so that others do not touch the lesions and become infected.";
                    document.getElementById("do3").innerHTML="<strong>.</strong> DO clothing or bandage on the sport of its existance.";
                    document.getElementById("don1").innerHTML="<strong>.</strong> DON'T share towels, clothing, or other personal items.";
                    document.getElementById("don2").innerHTML="<strong>.</strong> DON'T share towels, clothing, or other personal items.";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T share personal items such as unwashed clothes, hair brushes, wrist watches, and bar soap with others.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> E-Warts Drops";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Urban ReLeaf Molluscum Vanishing Stick";
                    document.getElementById("p3").innerHTML="<strong>.</strong> Anti Wart & Dark Spots Facial Oil";
                    document.getElementById("p1").href="https://www.excelpharma.co.in/product/e-warts-drops-homeopathic-wart-treatment/?gclid=CjwKCAiApvebBhAvEiwAe7mHSOkp0xjG7iCIo1pu9F7fXXzP2p1sd8fUIHNAPK7OHOR8eUG7VTAGIxoCG_sQAvD_BwE";
                    document.getElementById("p2").href="https://www.getuscart.com/urban-releaf-molluscum-vanishing-stick-fast-painless-help-for-molluscum-verrucas-warts-skin-tags-100-natural-salve-topical-cream-safe-for-kids-delicate-areasgoodbye-itchy-red-bumps?gclid=CjwKCAiApvebBhAvEiwAe7mHSDAlfxWk12v6lmC8joCcx40MZjNee9unGS7NfHsktdAIlrtJddzxEBoCctcQAvD_BwE";
                    document.getElementById("p3").href="https://brownliving.in/products/anti-wart-dark-spots-facial-oil?variant=32075452022864&currency=INR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAiApvebBhAvEiwAe7mHSPTPSSuf_a9VkPE-yusqYj6zh9Iz4LQ_o4CYH_VNpna1mi0FaAfwKRoC8TkQAvD_BwE";
                } else if(cl == "Actinic Cheilitis") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else if(cl == "Actinic Cheilitis") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else if(cl == "Actinic Cheilitis") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else if(cl == "Actinic Cheilitis") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else if(cl == "Actnic Cheilitis") {
                    document.getElementById("do1").innerHTML="<strong>.</strong> DO use a mild non-abrasive cleanser. Wash your face with a mild cleanser, such as Cetaphil, and warm water once or twice a day—especially after you work out or have been sweating.";
                    document.getElementById("do2").innerHTML="<strong>.</strong> DO watch your sun exposure. You may have also believed at one time or another that getting out in the sun can help dry up your acne.";
                    document.getElementById("do3").innerHTML="<strong>.</strong>  DO watch what you eat and drink. Make sure your staying hydrated by drinking plenty of water throughout the day and stick to a balanced diet rich in lean proteins, fruits and vegetables.";
                    document.getElementById("don1").innerHTML="<strong>.</strong>  DON'T overdo face washing. It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.";
                    document.getElementById("don2").innerHTML="<strong>.</strong>  DON'T be cruel to your skin. A gentle approach to skincare is generally preferred for most as opposed to harsher, exfoliating products that can cause more skin irritation";
                    document.getElementById("don3").innerHTML="<strong>.</strong> DON'T cover or conceal acne with cosmetics. If you prefer to wear makeup, consider a mineral makeup, preferably a powder, and remember to wash your makeup brushes and sponges regularly to prevent oil and bacteria from building up.";
                    document.getElementById("p1").innerHTML="<strong>.</strong> Naturals Skin Potion Anti Acne Skincare Face Oil";
                    document.getElementById("p2").innerHTML="<strong>.</strong> Acne Spot Corrector Gel";
                    document.getElementById("p3").innerHTML="<strong>.</strong> ANTI-ACNE FACE MIST";
                    document.getElementById("p1").href="https://www.nykaa.com/nykaa-skin-potion-facial-oil/p/688909?productId=688909&skuId=688904&pps=2";
                    document.getElementById("p2").href="https://foxtale.in/products/acne-spot-corrector-gel?utm_source=google&utm_medium=cpc&utm_campaign=HFM_Search_AcneGel_16thAug&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzSfA7TFpvJim73RlHjPYNasTchsTdoiFYfsXLESZbg3zgaEBKKcpgaAhXaEALw_wcB";
                    document.getElementById("p3").href="https://lovechild.in/products/face-on-zap-that-zit-anti-acne-face-mist?variant=42989579763955&gclid=Cj0KCQiAg_KbBhDLARIsANx7wAzWrMhdmtqEFaGeXmNvoMY1Pi6l6ArOXrVjufdoFwElTCyeXUK8zNIaAvE4EALw_wcB";
                
                } else {
                    alert("NO DISEASE FOUND");
                }
            } 
        </script>
    </body>
</html>
        